*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #121113;
}

.main-container{
   
    min-height: 100dvh;
    max-width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.aise-hi{

    position: fixed;
    
   
    
    display: flex;
    flex-wrap: nowrap;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-width: fit-content;
    
    background-color: black;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    padding: 1rem;
    
    
   
    
}

@media (max-width:768px){
    .main-container{
        min-width: 100vw;
        min-height: 100vh;
    }
    .aise-hi{
        min-width: 100dvh;
        max-width: 100dvh;
    }

   

  
}

button{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    background-color: #222725;
    color: #F7F7F2;
    margin: .8rem .3rem;
    cursor: pointer;
    
}

.display-container{
    color: #F7F7F2;
    font-size: 3.7rem;
    text-align: end;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    
    
    height: 20vh;
    width:100% ;
    
}

.buttons-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0.5rem 0;
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
   
    
    
}

.single-row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.action{
    background-color: #6d6d6d;
    color: white;
}


